* {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
}

.flexbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#quote-box {
  display: flex;
  flex-direction: column;
  background-color: bisque;
  padding: 20px;
  max-width: 40vw;
  border: 3px solid black;
  border-radius: 20px;
  box-shadow: 12px 12px 2px 1px rgba(9, 9, 10, 0.2);
}
#text {
  padding-bottom: 10px;
}

#author {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  padding-bottom: 20px;
}
.bottom-row {
  display: flex;
  justify-content: space-between;
}

#social-buttons {
  display: flex;
  min-width: 5rem;
  justify-content: space-between;
  align-items: center;
}

#new-quote {
  font-size: 1.6em;
  margin-left: 0.3em;
  padding: 0.1em 0.4em;
  border-radius: 10px;
  font-weight: 600;
}

@media screen and (max-width: 610px) {
  #quote-box {
    display: flex;
    flex-direction: column;
    background-color: bisque;
    padding: 10px;
    max-width: 70vw;
    border: 3px solid black;
    border-radius: 20px;
    box-shadow: 12px 12px 2px 1px rgba(9, 9, 10, 0.2);
  }
}
